/bin/**
/build/cache/
/build/docs/
/build/dist/
/build/logs/
/docs/_build/
/vendor/
/.settings/
.project
.buildpath
composer.lock
composer.phar
/dist/
/node_modules/
npm_debug.log
/wordpress/
wp-cli.yml
wp-tests-config.php